*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("image/banner.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav a img{
    width: 150px;
}

.navigation{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.navigation li{
    padding-left: 20px;
}
.navigation li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto;

}

.navigation li a:hover::after{
    width: 100%;
    transition: 0.5s;
}


.head-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.head-intro h1{
    font-size: 60px;
    color: white;
    margin: 20px;
}

.head-intro p{
    font-size: 14px;
    color: white;
    width: 45%;
    margin: 20px auto;
    text-align: center;
}

.head-intro button{
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    margin: 20px;
}

.head-intro button a{
    color: white;
    text-decoration: none;
}

.head-intro button:hover{
    background-color: #f44336;
    border: 1px solid #f44336;
    transition: 0.7s;
}



/*Course Section*/


.course-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.course-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-head h1{
    font-size: 30px;
    margin: 20px;
}

.course-head p{
    color: rgb(112, 108, 108);
    text-align: center;
    font-size: 12px;
}


.course-section{
    display: grid;
    grid-gap: 30px;
    width: 70%;
    margin: 50px auto;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
}

.course-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgba(227, 202, 202, 0.3);
}

.course-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
    transition: 0.7s;
}

.course-card h1{
    font-size: 20px;
    padding: 20px;
}

.course-card p{
    font-size: 12px;
    padding: 0px 20px 20px 20px;
    text-align: center;
    color: rgb(112, 108, 108);
}




.campus-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.campus-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campus-head h1{
    font-size: 30px;
    margin: 20px;
}

.campus-head p{
    color: rgb(112, 108, 108);
    text-align: center;
    font-size: 12px;
}

.campus-section{
    display: grid;
    grid-gap: 30px;
    width: 70%;
    margin: 50px auto;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    
}

.campus-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.campus-img img{
    width: 100%;
    border-radius: 5px; 
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
}

.layer:hover{
    background: rgb(255 39 0 / 65%);
    transition: 1s;
}

.layer h3{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    transition: 1s;
    opacity: 0;
    transform: translateY(1000%);
}

.layer:hover h3{
    transform: translateY(0%);
    opacity: 1;   
}




.facilities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.facilities-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facilities-head h1{
    font-size: 30px;
    margin: 20px;
}

.facilities-head p{
    color: rgb(112, 108, 108);
    text-align: center;
    font-size: 12px;
}

.gallary{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 70%;
    margin: 50px auto;
}

.gallary-img img{
    width: 100%;
    border-radius: 5px;
}
.gallary-intro{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.gallary-intro h1{
    font-size: 18px;
}

.gallary-intro p{
    margin-top: 15px;
    font-size: 12px;
    color: rgb(112, 108, 108);
}





.student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.student-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-head h1{
    font-size: 30px;
    margin: 20px;
}

.student-head p{
    color: rgb(112, 108, 108);
    text-align: center;
    font-size: 12px;
}

.student-card{
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 70%;
    grid-gap: 30px;
}

.student-img{
    display: flex;
    background: rgba(227, 202, 202, 0.3);
    padding: 25px 15px;
    border-radius: 5px;
}

.student-img img{
    height: 40px;
    border-radius: 50%;
    margin: 0px 20px;
}

.scard-intro{
    margin-left: 5px;
}

.scard-intro p{
    font-size: 12px;
    color: rgb(112, 108, 108);
}

.scard-intro h4{
    font-size: 16px;
    margin: 10px 0px;
}

.scard-intro .fas, .scard-intro .far{
    color: #f44336;
}


.contact{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("image/banner2.jpg");
    width: 70%;
    margin: 50px auto;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
}

.contact-box h1{
    color: white;
    font-size: 35px;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
}

.contact-box button{
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    margin: 20px;
}

.contact-box button a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.contact-box button:hover{
    background-color: #f44336;
    border: 1px solid #f44336;
    transition: 0.5s;
}

.about-us{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.about-us h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.about-us p{
    width: 50%;
    text-align: center;
    margin: 10px;
    font-size: 12px;
    color: rgb(112, 108, 108);
}

.social i{
    padding: 10px 15px;
    color: #f44336;
}







.sub-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("image/background.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    
}



.sub-head-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
}

.sub-head-intro h1{
    font-size: 30px;
    color: white;
}
.about-intro{
    width: 70%;
    margin: 150px auto;
    display: flex;
}

.a-intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.a-intro h1{
    font-size: 30px;
    width: 70%;
    line-height: 40px;
}

.a-intro p{
    margin: 10px 0px;
    font-size: 12px;
    color: rgb(112, 108, 108);
    line-height: 18px;
} 

.a-intro a{
    color: #f44336;
    margin: 20px 0px;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid #f44336;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}

.a-intro a:hover{
    background-color: #f44336;
    border: 1px solid #f44336;
    color: white;
    transition: 0.5s;
    
}


.a-img{
    width: 50%;
    margin: 0px 30px;
}

.a-img img{
    width: 100%;
}



.blog{
    display: flex;
    width: 70%;
    margin: 100px auto;
}

.left{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 20px;
}

.left img{
    width: 100%;
}

.left h1{
    padding: 25px 0px;
    font-size: 20px;
}

.left > p{
    margin: 10px 0px;
    font-size: 12px;
    color: rgb(112, 108, 108);
    line-height: 18px;
}

.right{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.right h3{
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 5px 90px;
    font-size: 18px;
    margin-bottom: 5px;
}

.right > div{
    display: flex;
    justify-content: space-between;
    background-color: rgba(112, 108, 108, 0.1);
    align-items: center;
    margin: 2px 0px;
    padding: 8px;
    box-sizing: border-box;
}

.comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0px;
    padding: 20px;
    border: 1px solid rgba(112, 108, 108, 0.4);
}

.comment h3{
    padding-bottom: 20px;
}

.comment > input{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    background-color: rgba(112, 108, 108, 0.1);
}

.comment textarea{
    padding: 10px;
    margin: 10px 0px;
    background-color: rgba(112, 108, 108, 0.1);
    border: none;
}

.comment button{
    color: #f44336;
    margin: 10px 0px;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid #f44336;
    background-color: transparent;
    text-transform: uppercase;
}

.comment button:hover{
    color: white;
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 0.5s;
}

.location{
    width: 70%;
    margin: 100px auto;
}

.location iframe{
    width: 100%;
}

.user{
    width: 70%;
    margin: 50px auto;
    display: flex;
}

.add{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.bx{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.bx i{
    padding: 20px 20px 20px 0px;
    color: #f44336;
}

.bx > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bx > div >h5{
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 5px;
}

.bx > div >p{
    font-size: 12px;
    color: rgb(112, 108, 108);

}

.message{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.message > input{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(112, 108, 108, 0.1);
}

.message textarea{
    padding: 10px;
    margin: 10px 0px;
    background-color: rgba(112, 108, 108, 0.1);
    border: none;
}

.message button{
    color: #f44336;
    margin: 10px 0px;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid #f44336;
    background-color: transparent;
    text-transform: uppercase;
}

.message button:hover{
    color: white;
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 0.5s;
}